<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Прогноз композитов</title>
    
</head>
<body>
    <div class="wrapper">
        <h1>Параметры для предсказания</h1>
        <form action="{{ url_for('main') }}" method="post">
          <div class="grid-container">
                <div class="input-group"><label>Плотность (кг/м3)</label><input name="f1" type="number" step="any" placeholder="1800..." required></div>
                <div class="input-group"><label>Модуль упругости (ГПа)</label><input name="f2" type="number" step="any" placeholder="700..." required></div>
                <div class="input-group"><label>Отвердитель (м.%)</label><input name="f3" type="number" step="any" placeholder="100..." required></div>
                <div class="input-group"><label>Эпоксидные группы (%)</label><input name="f4" type="number" step="any" placeholder="22..." required></div>
                <div class="input-group"><label>Температура вспышки (С)</label><input name="f5" type="number" step="any" placeholder="300..." required></div>
                <div class="input-group"><label>Поверхн. плотность (г/м2)</label><input name="f6" type="number" step="any" placeholder="200..." required></div>
                <div class="input-group"><label>Модуль при раст. (ГПа)</label><input name="f7" type="number" step="any" placeholder="73..." required></div>
                <div class="input-group"><label>Прочность (МПа)</label><input name="f8" type="number" step="any" placeholder="2000..." required></div>
                <div class="input-group"><label>Потребление смолы (г/м2)</label><input name="f9" type="number" step="any" placeholder="220..." required></div>
                <div class="input-group"><label>Угол нашивки</label><input name="f10" type="number" step="any" placeholder="0 или 90" required></div>
                <div class="input-group"><label>Шаг нашивки</label><input name="f11" type="number" step="any" placeholder="4.0" required></div>
                <div class="input-group"><label>Плотность нашивки</label><input name="f12" type="number" step="any" placeholder="50..." required></div>
            </div>
            <button type="submit">Рассчитать результат</button>
        </form>

        {% if result %}
        <div class="res-box">
            Прогноз соотношения матрица-наполнитель: {{ result }}
        </div>
        {% endif %}
    </div>
</body>
</html>